{% for r in site.rondo %}
<div class="col-list-3">
    <div class="recent-car-list">
        <div class="featured-car-list">
            <div class="featured-car-img">
                <a href="{{ r.url }}"><img src="{{ site.img }}/{{ r.url }}{{ r.img }}" class="img-responsive"
                        alt="Image" /></a>
            </div>
            <div class="featured-car-content">
                <h6><a href="{{ r.url }}">Kia {{ r.title }}</a></h6>
                <div class="price_info">
                    <p class="featured-price">{{ r.price }}</p>
                    <div class="car-location">
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                            Kia Yên nghĩa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}