{% for i in site.sedona %}
<div class="col-list-3">
    <div class="recent-car-list">
        <div class="featured-car-list">
            <div class="featured-car-img">
                <a href="{{ i.url }}"><img src="{{ site.img }}/{{ i.url }}{{ i.img }}" class="img-responsive"
                        alt="Image" /></a>
            </div>
            <div class="featured-car-content">
                <h6><a href="{{ i.url }}">Kia {{ i.title }}</a></h6>
                <div class="price_info">
                    <p class="featured-price">{{ i.price }}</p>
                    <div class="car-location">
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                            Kia Yên Nghĩa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}