{% for cars in site.collections %}
{% assign label = cars.label %}
{% if label != 'posts' and label != 'pages' and label != 'rondo' and label != 'optima' %}

<div role="tabpanel" class="tab-pane" id="{{ label }}">
    {% for car in site[label] %}
    <div class="col-list-3">
        <div class="recent-car-list">
            <div class="featured-car-list">
                <div class="featured-car-img">
                    <a href="{{ car.url }}"><img src="{{ site.img }}/{{ car.url }}{{ car.img }}" class="img-responsive"
                            alt="Kia {{ label }} {{ car.img | remove: ".jpg"}}" /></a>
                </div>
                <div class="featured-car-content">
                    <h6><a href="{{ car.url }}">Kia {{ car.title }}</a></h6>
                    <div class="price_info">
                        <p class="featured-price">{{ car.price }}</p>
                        <div class="car-location">
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i>
                                Kia Yên Nghĩa</span>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <i class="fa fa-road" aria-hidden="true"></i>0,000 km
                        </li>
                        <li>
                            <i class="fa fa-tachometer" aria-hidden="true"></i>30.000
                            miles
                        </li>
                        <li>
                            <i class="fa fa-calendar" aria-hidden="true"></i>2005
                            model
                        </li>
                        <li><i class="fa fa-car" aria-hidden="true"></i>Diesel</li>
                        <li>
                            <i class="fa fa-user" aria-hidden="true"></i>5 seats
                        </li>
                        <li>
                            <i class="fa fa-superpowers" aria-hidden="true"></i>143 kW
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endif %}
{% endfor %}