---
layout: default
---

<!-- Banners -->
{% include custom/banners.html %}
<!-- /Banners -->

<!-- About -->
{% include custom/about.html %}
<!-- /About -->

<!-- Resent Cat-->
{% include custom/resent-cat.html %}
<!-- /Resent Cat -->

<!-- Fun Facts-->
{% include custom/fun-facts.html %}
<!-- /Fun Facts-->
<!-- {% include custom/featured-car.html %} -->
<!--Featured Car-->

<!-- /Featured Car-->

<!--Trending Car-->
{% include custom/trending.html %}
<!-- /Trending Car-->

<!--Testimonial -->
{% include custom/customers.html %}
<!-- /Testimonial-->

<!--Blog -->
{% include core/postbox.html %}
<!-- /Blog-->