<div class="widget_heading">
    <h5><i class="fa fa-envelope" aria-hidden="true"></i> Nhận báo giá</h5>
</div>
<form action="https://formspree.io/f/mnqowabr" id="bao-gia-phai" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Họ tên" name="name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Số điện thoại" name="phone-number">
    </div>
    <div class="form-group">
        <select class="form-control" name="mau-xe">
            <option value="">Chọn mẫu xe</option>
            <option value="cerato">Cerato</option>
            <option value="morning">Morning</option>
            <option value="optima">Optima</option>
            <option value="rondo">Rondo</option>
            <option value="sedona">Sedona</option>
            <option value="seltos">Seltos</option>
            <option value="soluto">Soluto</option>
            <option value="sorento">Sorento</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Gửi" class="btn btn-block">
    </div>
    <p id="bao-gia-phai-status"></p>
</form>
{% include details/bao-gia-phai.html %}