<div class="similar_cars">
    <h3>Xe cùng model</h3>
    <div class="row">
        {% assign model = page.collection %}
        {% for car in site[model] %}
        {% unless car.title == page.title %}
        <div class="col-md-3 grid_listing">
            <div class="product-listing-m gray-bg">
                <div class="product-listing-img"> <a href="{{ car.url }}"><img src="{{ site.baseurl }}{{ site.img }}{{ car.url }}{{ car.img }}"
                            class="img-responsive" alt="image" /> </a>
                </div>
                <div class="product-listing-content">
                    <h5><a href="{{ car.url }}">Kia {{ car.title }}</a></h5>
                    <p class="list-price">{{ car.price }} VND</p>
                    <ul class="features_list">
                        {% for info in car.basic limit: 4 %}
                        <li title="{{ info.name }}">
                            <i class="fa {{ info.icon }}" aria-hidden="true"></i>{{ info.val }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>
</div>