<section class="about-us-section section-padding">
    <div class="container">
        <div class="section-header text-center">
            <h2>SHOWROOM <span>KIA YÊN NGHĨA</span></h2>
            <p>Địa chỉ Số 889, Tổ 9, Phường Phú Lãm, Q. Hà Đông, TP Hà Nội. Quy mô showroom bao gồm
                khu trung bày xe, xưởng dịch vụ và kho cung cấp phụ tùng chính hãng của Kia.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="looking-car">
                    <a href="https://kiayennghia.dailykia5s.com/car-models/#seltos">
                        <div class="looking-cat-image"> <img src="assets/images/KIA-SELTOS.png" alt="Image" /> </div>
                    </a>
                    
                    <div class="looking-car-content">
                        <h3>SELTOS <span>2021</span></h3>
                        <p>KẾT HỢP HOÀN HẢO GIỮA HÌNH TƯỢNG MẠNH MẼ, PHONG CÁCH NĂNG ĐỘNG CÙNG CÁC CHI TIẾT TINH XẢO.
                        </p>
                        <a href="https://kiayennghia.dailykia5s.com/car-models/#seltos" class="btn">Xem ngay<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="looking-car">
                    <a href="https://kiayennghia.dailykia5s.com/car-models/#sorento">
                        <div class="looking-cat-image"> <img src="assets/images/sorento-2021.png" alt="Image" /> </div>
                    </a>
                    <div class="looking-car-content">
                        <h3>SORENTO <span>2021</span></h3>
                        <p>KẾT HỢP HOÀN HẢO GIỮA HÌNH TƯỢNG MẠNH MẼ, PHONG CÁCH NĂNG ĐỘNG CÙNG CÁC CHI TIẾT TINH XẢO.
                        </p>
                        <a href="https://kiayennghia.dailykia5s.com/car-models/#sorento" class="btn">Xem ngay<i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>