<section id="filter_form" class="gray-bg">
    <div class="container">
        <h3>Tìm kiếm xe <span>(Theo tiêu chí)</span></h3>
        <div class="row">
            <form action="#" method="get">
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option value="">Chọn dòng xe</option>
                            <option value="">KIA SELTOS </option>
                            <option value="">KIA CERATO </option>
                            <option value="">KIA SOLUTO </option>
                            <option value="">KIA MORNING </option>
                            <option value="">KIA OPTIMA </option>
                            <option value="">KIA RONDO </option>
                            <option value="">KIA SORENTO </option>
                            <option value="">KIA SEDONA </option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option>Nhiên liệu</option>
                            <option>Xăng</option>
                            <option>Dầu</option>
                            <option>Brand 3</option>
                            <option>Brand 3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option>Select Model</option>
                            <option>Series 1</option>
                            <option>Series 2</option>
                            <option>Series 3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option>Year of Model </option>
                            <option>2016</option>
                            <option>2015</option>
                            <option>2014</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 black_input">
                    <label class="form-label">Khoảng giá (VND)</label>
                    <input id="price_range" type="text" class="span2" value="" data-slider-min="200000000"
                        data-slider-max="1000000000" data-slider-step="5" data-slider-value="[300000000,800000000]" />
                </div>
                <div class="form-group col-md-3 col-sm-6 black_input">
                    <div class="select">
                        <select class="form-control">
                            <option>Type of Car </option>
                            <option>New Car</option>
                            <option>Used Car</option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-md-3 col-sm-6">
                    <button type="submit" class="btn btn-block"><i class="fa fa-search" aria-hidden="true"></i>
                        Tìm xe </button>
                </div>
            </form>
        </div>
    </div>
</section>