    <section class="brand-section gray-bg">
        <div class="container">
            <div class="brand-hadding">
                <h5>Mẫu xe Kia</h5>
            </div>
            <div class="brand-logo-list">
                <div id="popular_brands">
                    {% for brand in site.data.brands %}
                    <div><a href="{{site.baseurl}}/{{ brand.img }}"><img
                                src="{{ site.baseurl }}/assets/images/brands/{{ brand.img }}.jpg" class="img-responsive"
                                alt="image">
                            <p style="padding-left: 30px;">{{ brand.name }}</p>
                        </a>

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>