<script src="{{site.baseurl}}/assets/js/lunr.js"></script>

<div class="header_wrap">
    <div class="header_search">
        <div id="search_toggle"><i class="fa fa-search" aria-hidden="true"></i></div>
        <form id="header-search-form" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
            <input type="text" placeholder="Tìm kiếm..." class="form-control" name="q" maxlength="255" value="">
            <button><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>