---
title: Xe và công nghệ
permalink: /blog
layout: default
---

<!--Page Header-->
<section class="page-header blog_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Tin tức xe</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Tin tức</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->

<!--Our-Blog-->
<section class="our_blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <!--article-->
                {% assign posts = site.posts %}
                {% for post in posts %}
                <article class="article_wrap">
                    <div class="article_img">
                        <a href="{{ post.url }}"><img src="{{ site.img }}/post/{{ post.img }}" alt="{{ post.title }}" /></a>
                        <div class="articale_header">
                            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                            <div class="article_meta">
                                <ul>
                                    <li>
                                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                        <a href="#">Admin</a>
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                        {{ post.date | date: "%d/%m/%Y"}}
                                    </li>
                                    <li>
                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                        {% for category in page.categories %}
                                        <a href="#">{{ category }}, </a>
                                        {% endfor %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="article_info">
                        <p>
                            {{ post.excerpt | strip_html | truncatewords:100 }}
                        </p>
                        <a href="{{ post.url }}" class="btn">Đọc tiếp
                            <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                    </div>
                </article>
                {% endfor %}
                <div class="pagination">
                    <ul>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>

            <!--Side-bar-->
            {% include post/side-bar.html %}
            <!--/Side-bar-->
        </div>
    </div>
</section>
<!-- /Our-Blog-->