---
title: Bảng giá xe Kia cập nhật mới nhất năm 2021
permalink: "/xe-kia"
layout: page
---

<!--Listing-->
<section class="listing-page">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 auto-list">
                <div class="mobile_search">
                    <div class="sidebar_widget">
                        <div class="widget_heading">
                            <h5><i class="fa fa-filter" aria-hidden="true"></i> KIA Cars</h5>
                        </div>
                        <div class="sidebar_filter">
                            <form action="#" method="get">
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option>Mẫu xe</option>
                                        <option>Cerato</option>
                                        <option>Morning</option>
                                        <option>Optima</option>
                                        <option>Rondo</option>
                                        <option>Sedona</option>
                                        <option>Seltos</option>
                                        <option>Soluto</option>
                                        <option>Sorento</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option>Màu sắc</option>
                                        <option>Đỏ</option>
                                        <option>Trắng</option>
                                        <option>Cam</option>
                                        <option>Nâu</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option>Số chỗ</option>
                                        <option>4 chỗ</option>
                                        <option>5 chỗ</option>
                                        <option>6 chỗ</option>
                                        <option>7 chỗ</option>
                                    </select>
                                </div>
                                <div class="form-group select">
                                    <select class="form-control">
                                        <option>Loại nhiên liệu</option>
                                        <option>Xăng</option>
                                        <option>Dầu</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label class="form-label">Giá (VND)</label>
                                    <input id="price_range1" type="text" class="span2" value="" data-slider-min="50"
                                        data-slider-max="50000000" data-slider-step="5" data-slider-value="[200000000,1500000000]" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-block">
                                        <i class="fa fa-search" aria-hidden="true"></i> Tìm xe
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="result-sorting-wrapper">
                </div>
                {% for cars in site.collections %}
                {% assign label = cars.label %}
                {% if label != 'posts' and label != 'pages' %}
                {% for car in site[label] %}
                <div class="product-listing-m gray-bg active" data-model="{{ car.model }}">
                    <div class="product-listing-img">
                        <a href="{{ car.url }}"><img src="{{ site.baseurl }}{{ site.img }}{{ car.url }}{{ car.img }}"
                                class="img-responsive" alt="image" />
                        </a>
                    </div>
                    <div class="product-listing-content">
                        <h5><a class="name" href="{{ car.url }}" data-name="{{ car.title }}">Kia {{ car.title }}</a></h5>
                        <p class="list-price">{{ car.price }} VNĐ</p>
                        <ul>
                            {% for info in car.basic %}
                            <li title="{{ info.name }}">
                                <i class="fa {{ info.icon }}" aria-hidden="true"></i>{{ info.val }}
                            </li>
                            {% endfor %}
                        </ul>
                        <a href="{{ car.url }}" class="btn">Xem thêm
                            <span class="angle_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                        <div class="car-location">
                            <span><i class="fa fa-map-marker" aria-hidden="true"></i> Kia Yên
                                Nghĩa</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>

            <!--Side-Bar-->
            <aside class="col-md-3 col-md-pull-9">
                <div class="sidebar_widget sidebar_search_wrap">
                    <div class="widget_heading">
                        <h5><i class="fa fa-filter" aria-hidden="true"></i> Chọn mẫu xe</h5>
                    </div>
                    <div class="sidebar_filter">
                        <form name="filter">
                            <div class="form-group select">
                                <select class="form-control" name="models" id="models">
                                    <option value="">Mẫu xe</option>
                                    <option value="cerato">Cerato</option>
                                    <option value="morning">Morning</option>
                                    <option value="optima">Optima</option>
                                    <option value="rondo">Rondo</option>
                                    <option value="sedona">Sedona</option>
                                    <option value="seltos">Seltos</option>
                                    <option value="soluto">Soluto</option>
                                    <option value="sorento">Sorento</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="sidebar_widget">
                    <div class="widget_heading">
                        <h5><i class="fa fa-car" aria-hidden="true"></i> Xe mới ra mắt</h5>
                    </div>
                    <div class="recent_addedcars">
                        <ul>
                            <li class="gray-bg">
                                <div class="recent_post_img">
                                    <a href="#"><img src="assets/images/200x200.jpg" alt="image" /></a>
                                </div>
                                <div class="recent_post_title">
                                    <a href="#">Recently Listed Car Name</a>
                                    <p class="widget_price">$92,000</p>
                                </div>
                            </li>
                            <li class="gray-bg">
                                <div class="recent_post_img">
                                    <a href="#"><img src="assets/images/200x200.jpg" alt="image" /></a>
                                </div>
                                <div class="recent_post_title">
                                    <a href="#">Recently Listed Car Name</a>
                                    <p class="widget_price">$92,000</p>
                                </div>
                            </li>
                            <li class="gray-bg">
                                <div class="recent_post_img">
                                    <a href="#"><img src="assets/images/200x200.jpg" alt="image" /></a>
                                </div>
                                <div class="recent_post_title">
                                    <a href="#">Recently Listed Car Name</a>
                                    <p class="widget_price">$92,000</p>
                                </div>
                            </li>
                            <li class="gray-bg">
                                <div class="recent_post_img">
                                    <a href="#"><img src="assets/images/200x200.jpg" alt="image" /></a>
                                </div>
                                <div class="recent_post_title">
                                    <a href="#">Recently Listed Car Name </a>
                                    <p class="widget_price">$92,000</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <!--/Side-Bar-->
        </div>
    </div>
</section>
<!-- /Listing-->