<!DOCTYPE HTML>
<html lang="en">

{% include core/head.html %}

<body>

    <!--Header-->
    {% include core/header.html %}
    <!-- /Header -->

    {{ content }}

    <!--Brands-->
    {% include core/brands.html %}
    <!-- /Brands-->

    <!--Footer -->
    {% include core/footer.html %}
    <!-- /Footer-->

    <!-- Call me -->
    {% include core/call-me.html %}
    <!-- /Call me -->
    
    <!-- FB Messenger -->
    {% include core/mess.html %}
    <!-- /FB Messenger -->
    
    <!--Back to top-->
    {% include core/back-top.html %}
    <!--/Back to top-->

    <!-- Scripts -->
    {% include core/scripts.html %}

</body>

</html>