---
layout: default
---

<!--Page Header-->
<section class="page-header contactus_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>{{ page.title }}</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>{{ page.title }}</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->

<section class="contact_us section-padding">
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
</section>