---
layout: default
---

<!--Page Header-->
<section class="page-header blog_page">
    <div class="container">
        <div class="page-header_wrap">
            <div class="page-heading">
                <h1>Tin tức xe</h1>
            </div>
            <ul class="coustom-breadcrumb">
                <li><a href="/">Trang chủ</a></li>
                <li>Tin tức</li>
            </ul>
        </div>
    </div>
    <!-- Dark Overlay-->
    <div class="dark-overlay"></div>
</section>
<!-- /Page Header-->

<!--Our-Blog-->
<section class="our_blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8">
                <!--article-1-->
                <article class="article_wrap article_full_info">
                    <div class="articale_header">
                        <h2>{{ page.title }}</h2>
                        <div class="article_meta">
                            <ul>
                                <li><i class="fa fa-user-circle-o" aria-hidden="true"></i> <a href="#">{{ site.author }}</a>
                                </li>
                                <li><i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                                    {{ page.date | date: "%d/%m/%Y" }}</li>
                                
                                <li><i class="fa fa-tags" aria-hidden="true"></i>
                                    {% for cat in page.categories %} 
                                    <a href="{{ cat }}">{{ cat }}, </a>
                                    {% endfor %}
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                    <div class="article_img"> <img src="{{ site.img }}/post/{{ page.img }}" alt="image"> </div>
                    <div class="article_info">
                        <p>{{ content }}</p>
                    </div>
                    {% include core/video.html %}
                    <div class="article_tag gray-bg">
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <h6>Tags:</h6>
                                <div class="tag_list">
                                    <ul>
                                        <li><a href="#">Trends</a></li>
                                        <li><a href="#">Triple Foam</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="share_article ">
                                    <h6>Share:</h6>
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <!--Side-bar-->
            {% include post/side-bar.html %}
            <!--/Side-bar-->

        </div>
    </div>
</section>
<!-- /Our-Blog-->